{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

<div id="about-page" class="container cont-top flex-col flex-center gap-3">
    <h1>Notre histoire</h1>
    <p>Soon...</p>
</div>
{% endblock %}