{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div id="home-page" class="flex-center-vert heigth-max container">
        <div>
            <div class="flex-center">
                <h1 class="heavy-h1 text-center">Ne laissez pas les entités prendre le contrôle</h1></div>
            </div>
            
            <div class="flex-center">
                <p class="text-center">Besoin d'un exorcisme, d'une purification ou d'un diagnostique ? Bienvenue sur Exoris, La seule plateforme qui rassemble toutes ces offres, afin de faciliter vos démarches.</p>
            </div>
            
            <div class="flex-center">
                <a class="btn-large flex-center" href="{{ path('app_services') }}">Nos offres d'exorcisme</a>
            </div>
        </div>
    </div>
{% endblock %}