{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div id="home-sec" class="flex-center-vert heigth-max">
        <div>
            <div class="flex-center">
                <h1 class="heavy-h1 text-center">Ne laissez pas les entités prendre le contrôle</h1></div>
            </div>
            
            <div class="flex-center">
                <p class="text-center">Lorem Ipsum is simply dummy text of the printing and  typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
            </div>
            
            <div class="flex-center">
                <a class="btn-large flex-center" href="#">Nos offres d'exorcisme</a>
            </div>
        </div>
    </div>
{% endblock %}