<footer class="flex-col flex-center gap-2">
    <h2>Exoris</h2>
    <p>Ne laissez pas les entités pendre le contrôle.</p>

    <span class="separator-2"></span>

    <div class="social-icons flex gap-2">
        <a href="https://instagram.com" target="_blank" aria-label="Instagram">
            <i class="fa-brands fa-instagram"></i>
        </a>

        <a href="https://facebook.com" target="_blank" aria-label="Facebook">
            <i class="fa-brands fa-facebook"></i>
        </a>

        <a href="https://twitter.com" target="_blank" aria-label="Twitter">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
    </div>

    <span class="separator-2"></span>

    <div class="rights flex-col flex-center gap-1">
        <p>Exoris® 2025 - tous droits réservés</p>
        <p>Réalisé par Ulysse Pennetier et Valentin Babic</p>
    </div>
</footer>