@use '../variables' as v;
@use '../texts';

@mixin button($size: 'large', $rank: 'primary') {
  border: none;
  border-radius: 9999px;

  @if $size == 'large' {
    @include texts.title-font(20px, 'regular');
    padding: 20px 40px; 

  } @else {
    @include texts.title-font(18px, 'regular');
    padding: 5px 18px;
  }

  @if $rank == 'primary' {
    background-color: v.$theme-light-yellow-primary;
  } @else if $rank == 'secundary' {
    background-color: v.$theme-light-background-light;
  }
}

.btn-large {
  @include button('large')
}

.btn-small {
  @include button('small')
}

.btn-small-secundary {
  @include button('small', 'secundary');
}