@use '../variables' as v;
@use '../texts';

@mixin button($size: 'large') {
  background-color: v.$theme-light-yellow-primary;

  border: none;
  border-radius: 9999px;

  @if $size == 'large' {
    @include texts.title-font(20px, 'regular');
    padding: 20px 40px; 

  } @else {
    @include texts.title-font(18px, 'regular');
    padding: 5px 18px;
  }
}

.btn-large {
  @include button('large')
}

.btn-small {
  @include button('small')
}