@use 'variables' as v;
@use 'texts';

body {
  @include texts.body-font();
  min-height: 100vh;
  width: 100%;
}

.nav-and-main {
  display: flex;
  flex-direction: column;
  // height: 100%;
  min-height: 100vh;
  background-color: v.$theme-light-background-default;
}

main {
  // height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 7%;
  padding-right: 7%;
}

.cont-top {
  margin-top: 5%;
  margin-bottom: 4%;
}