@use 'sass:map';
@use 'variables' as v;

$colors: (
  'dark-txt': v.$theme-light-text-dark,
  'light-txt': v.$theme-light-text-light
);

@mixin body-font($size: 16px, $color: 'dark-txt') {
  color: map.get($colors, $color);
  font-family: v.$font-sans-regular;
  font-size: $size;
  line-height: 150%;
}

@mixin title-font($size, $font-style: 'bold', $color: 'dark-txt') {
  color: map.get($colors, $color);
  font-family: v.$font-serif-bold;
  font-size: $size;

  @if $font-style == 'bold' {
    font-family: v.$font-serif-bold;
    font-weight: bold;

  } @else if $font-style == 'regular' {
    font-family: v.$font-serif-regular;
  }
}

h1, .h1 {
  @include title-font(32px);
}

h3, .h3 {
  @include title-font(18px)
}

.h3-regular {
  @include title-font(18px, 'regular')
}

h4, .h4, label {
  @include title-font(16px)
}

.heavy-h1 {
  @include title-font(80px);
  line-height: 118.4%;
  letter-spacing: -2px;
}

p, .p, a, .a {
  @include body-font();
}

.p2 {
  @include body-font(14px);
}

// // // Temp // // //

.visible-link {
  text-decoration: underline;
  color: rgb(0, 55, 255);
}

.input-group ul li {
  @include body-font(14px);
  color: red;
}