@use 'sass:map';
@use 'variables' as v;

$colors: (
  'dark-txt': v.$theme-light-text-dark,
  'light-txt': v.$theme-light-text-light
);

@mixin body-font($size: 16px, $color: 'dark-txt') {
  color: map.get($colors, $color);
  font-family: v.$font-sans;
  font-size: $size;
}

@mixin title-font($size, $weight: bold, $color: 'dark-txt') {
  color: map.get($colors, $color);
  font-family: v.$font-serif;
  font-size: $size;
  font-weight: $weight;
}

h1 {
  @include title-font(32px);
}

.heavy-h1 {
  @include title-font(80px);
  line-height: 118.4%;
  letter-spacing: -2px;
}

p, a {
  @include body-font();
}