@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

@font-face {
  font-family: "Source Serif pro regular";
  src: 
    url('../fonts/source-serif-pro/SourceSerifPro-Regular.woff2') format('woff2'), 
    url('../fonts/source-serif-pro/SourceSerifPro-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Source Serif pro bold";
  src: 
    url('../fonts/source-serif-pro/SourceSerifPro-Bold.woff2') format('woff2'), 
    url('../fonts/source-serif-pro/SourceSerifPro-Bold.woff') format('woff');
  font-display: swap;
}

$font-serif-regular: 'Source Serif pro regular', serif;
$font-serif-bold: 'Source Serif pro bold', serif;
$font-sans-regular: 'Inter', sans-serif;

$theme-light-background-default: #FFFDF3;
$theme-light-yellow-primary: #F9FB78;
$theme-light-text-dark: #2A2A00;
$theme-light-text-light: #C5C5C5;
$theme-light-background-darker: #F4EFDE;
$theme-light-background-light: #e4e4e4;