@use 'reset';

@use 'variables';
@use 'utils';
@use 'base';

@use 'texts';
@use 'components/buttons';
@use 'components/cards';
@use 'components/stars';
@use 'components/separators';
@use 'components/inputs';
@use 'components/promo';

@use 'pages/home.scss';
@use 'pages/serviceInfo.scss';
@use 'pages/booking.scss';
@use 'pages/backlog.scss';

@use 'layout';

@use 'components/navbar';
@use 'components/footer';